/** {
	border: 2px solid red;
}*/

body {
	background-image: url("../images/hoffman.png");
}

.col-md-4 {
	overflow: hidden;
	margin-bottom: 20px;
}

.btn-success {
	margin: 2px;
	border-radius: 10px;
	width: 100px;
}

form {
	text-align: right;
}